# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
storybook-static

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Bundle analzyze 
stats.html

# react-icons 패키지

## src/components
packages/react-icons/src/components/**
## src/optimized
packages/react-icons/src/optimized/**
## src/index.ts
packages/react-icons/src/index.ts

