@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url('./fonts/Pretendard-Black.subset.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('./fonts/Pretendard-ExtraBold.subset.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('./fonts/Pretendard-Bold.subset.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('./fonts/Pretendard-SemiBold.subset.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('./fonts/Pretendard-Medium.subset.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('./fonts/Pretendard-Regular.subset.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('./fonts/Pretendard-Light.subset.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url('./fonts/Pretendard-ExtraLight.subset.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('./fonts/Pretendard-Thin.subset.woff2') format('woff2');
  }
  
  body {
    @apply font-pretendard;
    @apply text-[#242E40];
  }
}

@layer utilities {
  .custom-scrollbar {
    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      background-clip : padding-box;
      border-top:8px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 8px solid transparent;
    }
  }

  /* // src/stories/Icon.stories.tsx 에서 사용중인 CSS */
  .grid-cols-icons {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))
  }
}

